<nav id="sidebar">
    <!-- LAB: -->
    <!-- Add a button here and bind it to a function to clear the contents of the form -->
    <!-- NEW NOTE BUTTON -->
    <!--  -->
    <!-- <input type="button" value="Clear Contents" class="btn btn-default" ng-model=""> -->
    <button class="new-note btn btn-default" ng-click="clearNote()">
      <i class="fa fa-plus-circle"></i>
      New Note
    </button>
    <ul id="notes" ng-show="hasNotes()">
      <li id="note_{{ note.id }}"
        ng-click="loadNote(note.id)"
        ng-repeat="note in notes() | limitTo: 10">
        <div class="note-title">{{ note.title }}</div>
        <!-- <div class="note-body">{{ note.body_html }}</div> -->
        <div class="note-body" ta-bind ng-model="note.body_html"></div>
      </li>
    </ul>
</nav>
